/*
	Created by Aram Saeed
	CSS file
*/

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
	background-color: #0099ff;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
	height: 200px;
	border-radius: 15px;
	margin: 1%;
}


/* 	Create two/three columns/boxes that floats next to each other 	*/
nav {
	float: left;
	width: 24%;
	margin-left: 1%;
	height: 350px; /* only for demonstration, should be removed */
	border-radius: 15px;
	background: #b3f0ff;
	padding: 20px;
}

/* 	Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}


/* 	Navegation	*/
li a
{
	display: block;
    border: 2px solid #0099ff;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 15px;
	margin: 10px;
}

/*	Change the link color on hover 	*/
li a:hover {
	background-color: #005266;
	color: #ffffff;
}

article {
	float: left;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	height: 350px; /* only for demonstration, should be removed */
	border-radius: 15px;
	padding: 20px;
	background-color: #e6faff;
}

aside
{
    float: left;
	width: 24%;
	margin-right: 1%;
	height: 350px; /* only for demonstration, should be removed */
	color: #000000;
    padding: 10px;
	border-radius: 15px;
	background-color: #00e6e6;

}

/* 	Clear floats after the columns 	*/
section::after {
	content: "";
	display: table;
	clear: both;
}

/* 	Style the footer 	*/
footer {
	background-color: #005266;
	padding: 10px;
	text-align: center;
	color: white;
	height: 120px;
	border-radius: 15px;
	margin: 1%;
}

/* 
	Responsive layout - makes the columns to boxes stack on top of each other instead of next to each other, on small screens 
*/


/*	On screens that are 960px or less, set the background color to #eeffcc */
@media screen and (max-width: 960px) {
	body {
		background-color: #eeffcc;
	}
  
  	header, aside, footer {
		width: 100%;
		margin: 1%;
	}
		nav, article {
		width: 28%;
		margin: 1%;
	}
		article {
		width: 68%;
		margin: 1%;
	}
}

/* 	On screens that are 600px or less, set the background color to #e6fff7 */
@media (max-width: 600px) {
	body {
		background-color: #e6fff7;
	}
	
	header, nav, article, aside, footer {
		width: 100%;
		margin: 1%;
	}
}